@media (max-width: 1400px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .about {
        &__wrapper {
            grid-template-columns: 400px 510px;
            column-gap: 50px;
        }

        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 245px);

            &-item {
                grid-template-columns: 40px auto;
            }
        }
    }

    .resume {
        &__wrapper {
            padding: 60px 0 0;
            column-gap: 110px
        }
    }

    .portfolio {
        &__wrapper {
            grid-template: repeat(2, 280px)/repeat(auto-fill, 280px);
            justify-content: center;
        }

        &__item {

            &_first,
            &_second,
            &_third {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }

    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 345px 585px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .title {
        &_section-subtitle {
            font-size: 30px;
        }
    }

    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }

        &__subtitle {
            font-size: 30px;
        }

        &__skills {
            grid-template-columns: auto;
        }
    }

    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 340px);
            column-gap: 40px;
        }
    }

    .skills {
        &__ratings {
            margin-top: 70px;
        }
    }

    .price {
        &__wrapper {
            grid-template: minmax(44px, auto)/repeat(2, 350px);
        }
    }

    .contacts {
        &__wrapper {
            grid-template-columns: 585px;
            justify-content: center;
        }

        &__photo {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .title {
        &_fz48 {
            font-size: 28px;

        }

    }

    .promo {
        &__title {
            line-height: 39px;
        }
    }

    .about {
        padding-top: 40px;

        &__wrapper {
            grid-template: 550px auto auto / 1fr;
        }

        &__photo {
            grid-row: unset;
        }

        &__skills {
            grid-template-columns: repeat(2, 260px);

            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }

    .resume {
        padding-top: 90px;

        &__wrapper {
            grid-template-columns: 425px;
            padding: 0;
        }

        &__column {
            margin-top: 60px;
        }
    }

    .skills {
        padding-top: 90px;
    }

    .portfolio {
        padding-top: 90px;
    }

    .price {
        &__wrapper {
            grid-template: minmax(44px, auto)/minmax(auto, 370px);
            justify-content: center;
            row-gap: 20px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 540px;
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,256px);
        }
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .title {
        &_fz48 {
            font-size: 26px;
        }

        &_section-subtitle {
            font-size: 24px;
        }
    }

    .hamburger {
        right: 20px;
    }

    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }

    .promo {
        // background: url('../img/main_bg_reserv.png') no-repeat 66%/cover;

        &__btns {
            margin-top: 30px;
            max-width: 540px;
            span:first-child{
                display: none;
            }
            span:nth-of-type(2) {
                position: static;
            }       
        }
        &__link {
            &:nth-of-type(2) {
                padding: 12px;
            }
        }
    }
    .about {
        &__wrapper {
            grid-template: 370px auto auto / 1fr;
        }

        &__skills {
            grid-template-columns: 1fr;
        }

        &__subtitle {
            font-size: 24px;
        }

    }

    .resume {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }

    .skills {
        &__ratings {
            grid-template-columns: minmax(auto, 350px);

            &-item {
                grid-template-columns: 240px 50px;
            }
        }
    }
    .contacts {
        padding: 46px 0;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 735px;
        }
        &__subtitle {
            font-size: 24px;
        }
        &__form {
            grid-template: repeat(2, 45px) 190px 45px/1fr;
            grid-auto-rows: auto;
        }
        &__textarea, &__triggers {
            grid-column: unset;
        }
        &__triggers {
            grid-template-columns: minmax(auto, 219px);
            justify-content: center;
            column-gap: 0;
            row-gap: 20px;
        }
        &__button {
            order: 1;
        }
    }
}