.promo {
    min-height: 100vh;
    position: relative;
    // background: url("../img/main_bg_reserv.png") no-repeat 50%/cover;
    

    &__video {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        object-fit: cover;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
        height: 100vh;
    }

    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        // color: #fff;
        @include before_circle;
    }

    &__title {
        max-width: 535px;
        width: 100%;
        margin-top: 10px;
        // color: #fff;
    }

    &__btns {
        margin-top: 25px;
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        max-width: 360px;
        width: 100%;
    }

    &__link {
        position: relative;
        // color: #fff;
        color: #000;
        font-weight: bold;
        transition: all 0.5s;
        text-transform: capitalize;

        &:hover {
            color: $main-color;
            text-decoration: none;
        }

        &.button:hover {
            // color: #fff;
            background-color: #fff;
        }
        &_color {
            background-color: #7177f1;
            color: #fff;
            
            &:hover {
                color: #7177f1;

            }
        }
    }
    &__icon {
        position: absolute;
        right: 3px;
        top: 3px;
    }
}