.sidepanel {
    position: fixed;
    top: 50%;
    left: -100px;
    display: flex;
    min-width: 340px;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transform: rotate(-90deg);

    &__divider {
        width: 70px;
        height: 2px;
        background-color: #000;
        margin: 0 15px;
    }

    &__text {
        font-size: 16px;
        color: #000;
        font-weight: 700;
    }
}